{% extends "_layouts/auth.njk" %}
{% block body %}
    <form action="/home">
        <input type="email" name="email" id="email" placeholder="Digite seu e-mail"/>
        <input type="password" name="password" id="password" placeholder="Senha secreta"/>

    </form>
{% endblock %}