{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Olá, {{ user.name }}</strong>
    <p>Veja os agendamentos que você tem.</p>

    <ul class="providers">
      {% for appointment in appointments %}
        <li class="provider">
        <div>{{ appointment.date }}</div>
        <div>{{ appointment.user.email}}</div>
        </li>
        <br>
      {% endfor %}
    </ul>
    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}

