{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Olá, {{ user.name }}</strong>
    <p>Veja os agendamentos que você tem.</p>

    <ul class="providers">
      {% for appointment in appointments %}
        <li class="provider">
        <img src="/files/{{ appointment.user.avatar }}" />
        <strong>{{ appointment.user.name }} <br> {{ appointment.date | date("HH:mm") }}</strong>
        <div class="avatar"></div>
        </li>
        <br>
      {% endfor %}
    </ul>
    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
